### Intellij ###
.idea/
**/out/
# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml.
hs_err_pid*

### LaTeX ###
# Core latex/pdflatex auxiliary files.
*.aux
*.lof
*.log
*.lol
*.lot
*.fls
*.out
*.toc
*.fmt

# Intermediate documents.
*.dvi
*-converted-to.*

# Bibliography auxiliary files (bibtex/biblatex/biber).
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf

# Build tool auxiliary files.
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
