name: Continuous deployment

on:
  push:
    branches:
      - master

jobs:
  build-pdf:
    name: Build PDF
    runs-on: ubuntu-latest
    container:
      image: thomasweise/docker-texlive-full:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build document
        run: lualatex --output-format=pdf BertrandBoyer.tex
